<main>
    <div class="instruction">
        <h3 class="header">How Urlaubsglück works?</h3>
        <div class="instruction-step">
            <div class="pagination">
                <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
                <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
            </div>
            <h4 class="step">step 1</h4>
            <h3 class="instruction-step_header">Sed leo enim, condimentum</h3>
            <p class="step-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
        </div>
        <div class="instruction-step">
            <div class="pagination">
                <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
                <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
            </div>
            <h4 class="step">step 2</h4>
            <h3 class="instruction-step_header">Morbi velit risus</h3>
            <p class="step-text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
        </div>
        <div class="instruction-step">
            <div class="pagination">
                <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
                <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
            </div>
            <h4 class="step">step 3</h4>
            <h3 class="instruction-step_header">Sed leo enim, condimentum</h3>
            <p class="step-text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
        </div>
    </div>
    <div class="people">
        <h3 class="people-header">Meet a partner for your best holiday</h3>
        <figure class="person">

            <img src="img/person1.png" alt="Photo" class="person-photo">

            <h5>Bradley Hunter</h5>
            <p class="person-about">Based in Chicago. I love playing tennis and loud music.</p>
        </figure>
        <figure class="person">

            <img src="img/person2.png" alt="Photo" class="person-photo">

            <h5>Lucas Marsha</h5>
            <p class="person-about">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
        </figure>
        <figure class="person">

        <img src="img/person3.png" alt="Photo" class="person-photo">

        <h5>Heather Walker</h5>
        <p class="person-about">I'm a happy person that loves cats and climbing on mountains.</p>
    </figure>
        <figure class="person">

            <img src="img/person4.png" alt="Photo" class="person-photo">

            <h5>Bradley Hunter</h5>
            <p class="person-about">Based in Chicago. I love playing tennis and loud music.</p>
        </figure>
    </div>
    <form action="#">
        <input type="submit" value="See other partners" class="search-bottom">
    </form>
    <div class="masonry">
        <h3 class="people-header">Discover holiday activity ideas</h3>

            <div class="container">

                <div class="row grid">
                    <div class="col grid-item">
                        <div class="col-text_wrap">
                            <p class="col-text">Sport and Activity</p>
                        </div>
                        <img src="" alt="" id="0" class="masonry-img">

                    </div>
                    <div class="col grid-item">
                        <div class="col-text_wrap">
                            <p class="col-text">Wellness and Health</p>
                        </div>
                        <img src="" alt="" id="1"  class="masonry-img">

                    </div>
                    <div class="col grid-item">
                        <div class="col-text_wrap">

                            <p class="col-text">Extreme Sports and Expeditions</p>
                        </div>
                        <img src="" alt="" id="2" class="masonry-img">

                    </div>
                    <div class="col grid-item">
                        <div class="col-text_wrap">
                            <p class="col-text">Games</p>
                        </div>

                        <img src="" alt="" id="3" class="masonry-img">

                    </div>
                    <div class="col grid-item--width2">
                        <div class="col-text_wrap">
                            <p class="col-text">Culture and Education</p>
                        </div>
                        <img src="" alt="" id="4" class="masonry-img masonry-img__width2 width2">

                    </div>
                    <div class="col grid-item--width2">
                        <div class="col-text_wrap">
                            <p class="col-text"> Relaxation</p>
                        </div>
                        <img src="" alt="" id="5" class="masonry-img masonry-img__width2">

                    </div>
                    <div class="col grid-sizer">
                        <div class="col-text_wrap">
                            <h6 class="col-text">Travelling</h6>
                        </div>
                        <img src="" alt="" id="6" class="masonry-img last">

                    </div>

                </div>
            </div>

        <h3  class="people-header__search">Discover holiday activity ideas</h3>
    </div>
    <div class="search">
        <p class="searching-text">Hi! What are your holiday interests?</p>
        <form action="#" class="searching">
            <input type="text" placeholder="Enter your interests" class="searching-textfield">
            <input type="submit" value="Search partners" class="form-find bottom">
        </form>
    </div>
</main>