<footer class="footer">
    <h5 class="footer-header">URLAUBSGLÜCK</h5>
    <h6 class="footer-header_small">Company</h6>
    <ul class="footer-menu">
        <li class="footer-item"><a href="" class="footer-link">About</a></li>
        <li class="footer-item"><a href="" class="footer-link">Contacts</a></li>
        <li class="footer-item"><a href="" class="footer-link">Press</a></li>
        <li class="footer-item"><a href="" class="footer-link">Blog</a></li>
    </ul>
    <h6 class="footer-header_small"><a href="" class="partners-link">Partners</a></h6>
    <div>
        <p class="footer-text">Designed by</p>
        <a href="">
            <img src="img/designed.png" alt="" class="footer-logo">
        </a>
    </div>
</footer>