@media screen and (max-width: 320px) {

  body {
    text-align: center;
  }

  header {
    width: 100%;
    background-image: url(../img/bg320.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    text-align: center;
    color: #fff;
  }



  .form-submit {
    border: solid 2px #fff ;
    border-radius: 19px;
    background: none;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 900;
    font-style: bold;
    margin: 20px;
    color: #fff;
  }

  .form-submit:hover {
    border-color: transparent;
    border-radius: 19px;
    background: none;
  }



  header h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin-top: 115px;

  }

  header h2 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin-top: 38px;
  }

  header p {
    font-size: 18px;
    font-weight: 300;
    margin: 19px 40px;
  }

  .form-find {
    background-color: #ff4e50;
    border-radius: 19px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 40px;
    margin-bottom: 150px;
  }

  main {
    text-align: center;
    border-bottom: 4px solid #ff4e50;

  }

  .header {
    font-size: 22px;
    color: #333;
    margin: 38px 5px 12px 5px;
  }

  .instruction-step {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    margin: 10px;
    padding: 10px;
    text-align: left;
    color: #fff;
  }

  .instruction-step:first-of-type {
    background-image: url(../img/step1.png);
  }

  .instruction-step:nth-of-type(2) {
    background-image: url(../img/step2.png);
  }

  .instruction-step:nth-of-type(3) {
    background-image: url(../img/step3.png);
  }

  .pagination {
    display: none;
  }

  .instruction-step .step {
    background-color: #ff4e50;
    border-radius: 18px;
    font-size: 10px;
    padding: 5px 12px;
    width: 70px;
    margin-top: 60px;
    text-transform: uppercase;
    text-align: center;
  }

  .instruction-step_header {
    font-size: 24px;
    font-weight: 700;
  }

  .step-text {
    font-family: roboto-light;
    font-size: 14px;
  }

  .people-header {
    font-size: 22px;
    margin-top: 18px;
  }

  .person h5 {
    font-size: 14px;
    font-weight: 700;
    margin: 20px;
  }

  .person-about {
    font-family: roboto-light;
    margin-bottom: 30px;
    margin: 10px;
  }

  .search-bottom {
    font-weight: 700;
    background-color: inherit;
    border: solid 2px #ff4e50;
    border-radius: 19px;
    font-size: 14px;
    padding: 10px 60px 10px 60px;
    color: #ff4e50;
    margin: 30px;
  }

 .masonry-img {
    height: 120px;
    width: 300px;
  margin-left: -15px;
   padding: 0;
  }

  .col {
    position: relative;
    margin: 10px;
    }

  .col-text {
    position: absolute;
    color: #fff;
    z-index: 999;
    font-size: 22px;
    font-weight: 700;
    margin-top: 45px;

  }

  .col-text_wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    }

  .searching-text {
    font-family: roboto-light;
    font-size: 18px;
    margin: 10px;
  }

  .searching {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .searching-textfield {
   padding: 10px;
    margin: 10px;
  }

  .bottom {
    width: 280px;
    margin-left: 14px;
    margin-bottom: 40px;
  }

  .footer-header {
    color: #ff4e50;
    font-weight: 700;
    font-size: 16px;
    margin: 15px;
  }

  .footer-menu {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

  .footer-link {
    text-decoration: none;
    color: #666666;
    font-family: roboto-light;
  }


  .partners-link {
    text-decoration: none;
    color: #000000;
  }

  .footer-text {
   color: #ccc;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 10px;
    margin-top: 20px;
  }

  .footer-logo {
    margin: 10px;
  }

}